body{
	background-color: rgb(113,113,255);

}
#main{
	width:80%;
	height: 710px;
	margin:0 auto ;
	border: 3px solid black;
	background-color:white;
	box-shadow: 5px 5px black;
}

header{

	text-align: center;
	margin-top: -40px;
	width:100%;
	height: 100px;
	background-color:black;
	color:white;
	font-weight: bold;
	font-size: 2em;
	font-family: sans-serif;
	color:#7171FF;
	text-shadow: 2px 2px white;
}
#panel{
	border-bottom: 1px solid black;
	border-top: 1px solid green;
	width:100%;
	height: 202px;
	background-color:white;
	color:#7171FF;
	text-shadow: 0.6px 0.5px black;
}

#Pregunta{
	text-align: center;
	padding:10px;
	font-size: 2em;
	text-shadow: 0.6px 0.5px black;
}


#opciones p{
	cursor: pointer;
	color:black;
	border:1px solid black;
	height: 100px;
	margin:0;
	transition:all 1s;
}
.opcionesN{
	text-shadow: 1px 1px black;
	font-size: 1.3em;
	cursor: pointer;
	color: white;
	font-weight: bold;
	background-color: rgb(92,158,205);
	border:1px solid black;
	box-shadow: 1px 1px black;
	transition:all 1s;
}
#opciones p:hover{
	background-color:#E0F6E1;
	color:#7171FF; 
}
.opcionesN:hover{
	background-color:#7171FF; 
}